@use "./z-indices";
@use "./themes";

.signalButtonContainer {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 48px;
    right: 0;
    z-index: map-get(z-indices.$z-index, belowHamburger);
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    
    width: auto;
    max-width: 384px;
}

.signalButton {
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px;
    margin: 3px;

    &:hover {
        border-radius: 4px;
        background-color: #B9BBBE;
    }
}

.signalButton:focus-visible {
    border: 2px solid rgb(255, 255, 255, 0.1);
    border-radius: 4px;
}

.signalButton--smile {
    background-image: url('../images/signals/smile.png');
}

.signalButton--handRaised {
    background-image: url('../images/signals/handRaised.png');
}

.signalButton--clap {
    background-image: url('../images/signals/clap.png');
}

.signalButton--party {
    background-image: url('../images/signals/party.png');
}

.signalButton--heart {
    background-image: url('../images/signals/heart.png');
}

.signalButton--joy {
    background-image: url('../images/signals/joy.png');
}

.signalButton--interrobang {
    background-image: url('../images/signals/interrobang.png');
}

.signalButton--100 {
    background-image: url('../images/signals/100.png');
}

.topRightSignalButtonContainer {
    margin: 0 12px 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleSignalButtonContainerButton {
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &--closed {
        background-image: url('../images/icons/light-theme/toggleSignalButtonContainerButton-closed-light.svg');
    }

    &--open {
        background-image: url('../images/icons/light-theme/toggleSignalButtonContainerButton-open-light.svg');
    }
}

.toggleSoundsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8px 0 0 0;
}

.toggleSoundsCheckboxLabel {
    margin: 0 8px 0 0;
}
